# Trained networks
*.t7

# ROMS
*.bin

*~

# Dependences and libraries except alewrap files
torch/*
!torch/share
torch/share/*
!torch/share/lua
torch/share/lua/*
!torch/share/lua/5.1
torch/share/lua/5.1/*
!torch/share/lua/5.1/alewrap

